h1 {
    color: black;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 0px;
}

p {
    text-align: center;
    margin-top: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 10px;
}

.inputs input {
    width: 300px;
    height: 40px;
}
  
.inputs select {
    width: 200px;
    height: 40px;
    margin-top: 10px;
}
  
.select-container select {
    margin-right: 10px;
}
  
.inputs button {
    width: 150px;
    height: 40px;
    margin-top: 10px; 
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .result {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  
  .result:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }
  
  .meal-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
.meal-description {
    color: white;
    font-size: 16px;
}
  